{% extends 'base.html.twig' %}

{% block title %}Nos Menus{% endblock %}

{% block body %}
<div class="container p-4"<>
    <h1 class="text-center pb-5">Nos Menus</h1>
</div>

<div class="container d-flex justify-content-between p-4">
    <a href="#" class="btn btn-primary">Filtre</a>
    <a href="#" class="btn btn-primary">Ajouter un menus</a>
</div>

<div class="container"> 
    <div class="row row-cols-1 row-cols-lg-3">
        <div class="col p-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ asset('images/strawberries-4198762_640.jpg') }}" class="card-img-top rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Menus du mois</h5>
                    <span class="badge">Végétarien</span>
                    <p class="card-text text-center p-4">Dés 4 pers - 19,90 €</br>
                    Entrée, plat, dessert</p>
                    <div class="text-center">
                        <a href="#" class="btn btn-primary">Voir le Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col p-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ asset('images/strawberries-4198762_640.jpg') }}" class="card-img-top rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Menus du mois</h5>
                    <span class="badge">Végétarien</span>
                    <p class="card-text text-center p-4">Dés 4 pers - 19,90 €</br>
                    Entrée, plat, dessert</p>
                    <div class="text-center">
                        <a href="#" class="btn btn-primary">Voir le Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col p-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ asset('images/strawberries-4198762_640.jpg') }}" class="card-img-top rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Menus du mois</h5>
                    <span class="badge">Végétarien</span>
                    <p class="card-text text-center p-4">Dés 4 pers - 19,90 €</br>
                    Entrée, plat, dessert</p>
                    <div class="text-center">
                        <a href="#" class="btn btn-primary">Voir le Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col p-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ asset('images/strawberries-4198762_640.jpg') }}" class="card-img-top rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Menus du mois</h5>
                    <span class="badge">Végétarien</span>
                    <p class="card-text text-center p-4">Dés 4 pers - 19,90 €</br>
                    Entrée, plat, dessert</p>
                    <div class="text-center">
                        <a href="#" class="btn btn-primary">Voir le Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col p-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ asset('images/strawberries-4198762_640.jpg') }}" class="card-img-top rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Menus du mois</h5>
                    <span class="badge">Végétarien</span>
                    <p class="card-text text-center p-4">Dés 4 pers - 19,90 €</br>
                    Entrée, plat, dessert</p>
                    <div class="text-center">
                        <a href="#" class="btn btn-primary">Voir le Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col p-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ asset('images/strawberries-4198762_640.jpg') }}" class="card-img-top rounded" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Menus du mois</h5>
                    <span class="badge">Végétarien</span>
                    <p class="card-text text-center p-4">Dés 4 pers - 19,90 €</br>
                    Entrée, plat, dessert</p>
                    <div class="text-center">
                        <a href="#" class="btn btn-primary">Voir le Menu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
